
# General Community ID
GENERAL_COMMUNITY_ID=68dd52a283642af8c35205cc

# Announcement community admin user IDs (comma separated optional)
# ANNOUNCEMENT_ADMIN_ID=64f0c123abc4567890def123

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
